/* Remove the navbar's default rounded borders and increase the bottom margin */ 
body{
    font-family: Comic Sans MS;
    font-size: 12px;
}
.body{
    background-color:#51D3D6;
}
.toolbar{
    background-color: #000;


}
.menubar{
    background-color: #ffffff;
}
.ui-layout-unit{
    border-color: black;
    border-style: ridge;
}
p,ul{
    text-align: justify;
    text-indent: 30px;
    color: black;

}
div{
    text-align: left;
}
.mySlides 
{
    display:none;

}

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
    margin-bottom: 0;
    background-image: url("imagens/background-top.jpg");
    text-shadow: 5px 5px 5px black;
    color: white;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #F2F2F2;
    padding: 25px;
    position:absolute;
    bottom:0; 
    width:100%;
}
.msg{
    text-shadow: 5px 5px 5px black;
    color: white;
}
h5{
    font-size:100px;
}
h6{
    font-size:80px;
}
/* */
.ui-layout-unit-header, .ui-menubar{
    background-color:#51D3D6;
    color: #ffffff;
    font-size: 18px;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.2em;
}


.ui-panelmenu-header, .ui-menuitem, .ui-panelmenu-content {

    font-family: Arial;
}
/*sobreposição menu */
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;;
    border: none;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-layout-west {
    z-index:20 !important;
    overflow:visible !important;;

}


/*estilo do bloco west */
.westUnit {
    height: 300px !important;
    border: none;

}
.footerSouth{

    font-family: Comic Sans MS;

}
.image{
    border-radius: 10px;
    border-color: #000;
    margin-right: 10px;
}

.img{
    border-radius: 20px;
    border-color: #000;
    width: 100%;

}

.link{
    font-size: 10pt;
    color: white;
}
.ui-icon-home{
    color: white;
    background-color: white;
    border-color: white;

}
.ui-g-8{
    background-color: black;
    border-radius: 10px;
    color: white;
    text-align: center;

}
.ui-widget-header{
    background-color:#51D3D6;
    color: #ffffff;
    font-size: 18px;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
}

.texto-lateral{

    color: #51D3D6;
    font-size: 22pt;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.01em;
    margin: 10px 10px 10px 0px;
    text-align: justify;
}
.p-text-img{
    margin: 10px 10px 10px 0;
    font-weight: bold;
}
.text-img{
    margin: 10px 10px 10px 40px;
}
img{
    border-radius: 10px;
}

.cabecalho-cadastro{
    color: white;
    font-size: 22pt;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.01em;
    margin: 10px 10px 10px 0px;
    text-align: center;
}
.linktext{
    color: #ebebeb ;
    font-size: 12pt;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.01em; 
}
.linktextheader{
    color:white;
    font-size: 16pt;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.01em;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #51D3D6;
    color: white;
}
.textos{
    margin:10px 20px 0px 20px;
    font-size: 13pt;
}
.pagseguro {
    margin: 7% 0% 0% 40%;

}
.pagsegurotxt{
    font-size: 18pt;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.01em;
    margin: 10px 10px 10px 0px;
    text-align: justify;
    color: white;
}
@media screen and (min-width : 1000px) {
    .verticalmenu {
        display: none !important;
    }
}
@media screen and (max-width : 1000px) {
    .horizontalmenu {
        display: none !important;
    }
}

pm-header{
    background-color:#51D3D6;
    color: #ffffff;
    font-size: 18px;
    font-family: Comic Sans MS;
    text-shadow: black 0.1em 0.1em 0.2em;
}
