main h1{
	font-family : "Open Sans Condensed", sans-serif;
	font-size: 60px;
	background-color: #851944;
	color: #FFF;
	text-align: center;
	margin: 0;
	padding: 25px;
	border-bottom: 10px solid #000;
	text-transform: uppercase;
}
h2{
	font-family : "Open Sans Condensed" ,sans-serif;
	font-size:30px;
	clear: both;
}

body{
	background-color : #F2FFFC;
	font-family : "Crimson Text", "Times New Roman", serif ;
}

p {
    text-align: justify;
	font-family :"Crimson Text";
	margin: 20px 0px 20px 0px;
}
blockquote{
	background-color: #D9E5E3;
	padding: 16px;
	border: 10px solid #C2CCCA;
	width: 250px;
	margin: 0;
	box-sizing: border-box;
	margin: 20px 40px 20px 40px;
}
aside, aside a{
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-decoration: none;
	text-align: center;
}


#rodape{
	background-color: #000;
	color: #FFFFFF;
}
a{
	color: #851944;
	font-family : "Open Sans Condensed", sans-serif;
}
#rodape, aside, blockquote{
	padding: 20px;
}

main div, article{
	width: 720px;
	margin-left: auto;
    margin-right: auto;
	line-height: 1.5;
	margin-bottom: 30px;
	margin-top: 30px;
}
aside h1{
	font-size: 30px;
	margin: 25px;
	font-family : "Open Sans Condensed", sans-serif;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
footer{
	border-bottom: solid #CCC; 
}
.linkLer{
	background-color: #3C1D3D;
	font-size: 20px;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	border: solid black;
	box-sizing: border-box;
	display: block;
}
.icones li{
	display: inline-block;
}

.icones a{
	width:40px;
	height:40px;
	display: inline-block;
	font-size: 0px;
}

.linkedin{
	background-image: url("../img/linkedin.png");
}
.github{
	background-image: url("../img/github.png");
}
.twitter{
	background-image: url("../img/twitter.png");
}
nav a{
	text-transform: lowercase;
}
.fiat{
	float: right;
}
.petrobras{
	float: left;
}
aside, .img-principal{
	float: right;
	box-sizing: border-box;
	border: 10px solid black;
}

.img-principal{
	position: fixed;;
	top: 0;
	right:0;
	
}
aside{
	clear:right;
	width: 15%;
	line-height: 1.5;
	top: 310px;
	right: 0;
	position: fixed;
}
footer{
	clear: both;
	bottom:0;
	position: fixed;
	width: 100%;
}
main{
	float: left;
	width: 85%;
	padding-bottom: 80px;
}

.projetos li{
	display: inline-block;
    border: 8px solid black;
    background-color: #FAFFFC;
    width: 40%;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.projetos img {
    width: 100%;
}


